<div class="component__inner challenge__inner">
  {{> component this}} 

  <div class="challenge__button button is-visible">
    <button class="challenge__start-btn btn js-challenge-start-click" aria-label="{{{buttonText}}}">
      {{{buttonText}}}
    </button>
  </div>

  <div class="challenge__main" style="background-image: url({{_backgroundImage}}); background-size: cover; background-position: top right;">

    <div class="challenge__feedbacks" >
      {{#each _feedbacks}}
        <div class="challenge__feedback">
          <div>{{{content}}}</div>
          <img class="{{_imageClass}}" src="{{_image}}" {{#if alt}}aria-label="{{alt}}"{{else}}aria-hidden="true" alt=""{{/if}} />
        </div>
      {{/each}}
    </div>
  
    <div class="challenge__items" >
      {{#each _items}}
        <div class="challenge__item" >
          <div class="challenge__item-buttons">
            <div class="js-challenge-first-click" data-qnum="{{@index}}" style="background-color: {{_colour}}; color: {{_colourText}};">{{../choice1}}</div>
            <div class="js-challenge-second-click" data-qnum="{{@index}}" style="background-color: {{_colour}}; color: {{_colourText}};">{{../choice2}}</div>
          </div>
          <div class="challenge__item-content" style="background-color: {{_colour}}; color: {{_colourText}};">{{content}}</div>
          <div class="challenge__item-feedback" style="background-color: {{_colour}}; color: {{_colourText}};">{{feedback}}</div>
        </div>
      {{/each}}
    </div>

  </div>   

</div>
